<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro left_arm:=gen3 left_dof:=7 left_vision:=true left_sim:=false left_prefix:=left_ right_arm:=gen3 right_dof:=7 right_vision:=true right_sim:=false right_prefix:=right_ '$(find kortex_description)/multiple_robots/kortex_dual_robots.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find gen3_7dof_dual_arm_move_it_config)/config/dual_robot.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find gen3_7dof_dual_arm_move_it_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find gen3_7dof_dual_arm_move_it_config)/config/kinematics.yaml"/>

  </group>

</launch>
