<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- The number of degrees of freedom of the Gen3 arm -->
  <arg name="dof" default="7"/>

  <!-- The joint and link names prefix used in kortex_description -->
  <arg name="prefix" default=""/>

  <!-- Use the slower (2.0 default) joint speed and acceleration limits, or the hard limits (fastest) -->
  <arg name="use_hard_limits" default="false"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro arm:=gen3 gripper:=robotiq_2f_140 '$(find kortex_description)/robots/gen3_robotiq_2f_140.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <!-- With prefix -->
  <param name="$(arg robot_description)_semantic" command="$(find xacro)/xacro --inorder $(find gen3_robotiq_2f_140_move_it_config)/config/$(arg dof)dof/gen3_robotiq_2f_140.srdf.xacro prefix:=$(arg prefix)"
    unless="$(eval not arg('prefix'))"/>
  <!-- No prefix -->
  <param name="$(arg robot_description)_semantic" command="$(find xacro)/xacro --inorder $(find gen3_robotiq_2f_140_move_it_config)/config/$(arg dof)dof/gen3_robotiq_2f_140.srdf.xacro"
    if="$(eval not arg('prefix'))"/>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find gen3_robotiq_2f_140_move_it_config)/config/$(arg dof)dof/default_joint_limits.yaml" unless="$(arg use_hard_limits)" subst_value="true"/>
    <rosparam command="load" file="$(find gen3_robotiq_2f_140_move_it_config)/config/$(arg dof)dof/hard_joint_limits.yaml" if="$(arg use_hard_limits)" subst_value="true"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find gen3_robotiq_2f_140_move_it_config)/config/kinematics.yaml"/>
  </group>

</launch>
