<?xml version="1.0"?>

<robot name="gen3_robotiq_2f_85" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Arguments -->
    <xacro:arg name="arm" default="gen3" />
    <xacro:arg name="gripper" default="robotiq_2f_85" />
    <xacro:arg name="sim" default="false" />

    <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro" />
    <xacro:load_robot arm="$(arg arm)" gripper="$(arg gripper)" sim="$(arg sim)"/>

</robot>