<?xml version="1.0"?>
<launch>
    
    <arg name="robot_name" default="my_kortex_actuator"/>

    <arg name="ip_address"/>
    <arg name="cycle_rate" default="60"/> <!--Hz-->
    <arg name="device_id" default=""/>

    <arg name="start_device_manager" default="true"/>

    <group ns="$(arg robot_name)">

        <!-- kortex_actuator_driver node -->
        <node name="$(arg robot_name)_actuator_driver" pkg="kortex_actuator_driver" type="kortex_actuator_driver" args="$(arg ip_address) $(arg cycle_rate) $(arg device_id)"/>

        <!-- kortex_device_manager node -->
        <node name="$(arg robot_name)_device_manager" pkg="kortex_device_manager" type="kortex_device_manager" args="$(arg ip_address)" if="$(arg start_device_manager)"/>

    </group>
</launch>
