<launch>
    <include file="$(find kortex_gazebo)/launch/spawn_kortex_robot.launch">
        <arg name = "base" value ="false"/>
    </include>
    <include file="$(find kortex_scripts)/launch/spawn_dispenser_hopper.launch"/>
    <include file="$(find tbot_path_planning)/launch/path_planning_service.launch"/>
</launch>