<launch>
    <!-- <rosparam file="$(find ant_worker_description)/config/motor_config.yaml" command="load"/> -->
    
    <include file="$(find kortex_gazebo)/launch/spawn_kortex_robot.launch"/>

    <!-- <node name="ant_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args=" diff_drive_controller elevator_controller"/> -->
    
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/ant_worker/joint_states"/>
    </node> -->

</launch>
