<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename= "$(find kortex_description)/arms/${arm}/${dof}dof/urdf/macros.xacro"/>
        
    <xacro:macro name="chair">
        <link name="base_plate">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="4" />
                <xacro:box_inertia mass="4" x="0.1" y="0.1" z="0.01" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.1 0.1 0.01"/>
                </geometry>
                <material name="grey">
                    <color rgba="0.75 0.75 0.75 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.1 0.1 0.01"/>
                </geometry>
            </collision>
        </link>

        <joint name="base_plate_joint" type="fixed">
            <origin xyz="0 0 0.005" rpy="0 0 0" />
            <parent link="base_plate" />
            <child link="base_link" />
            <axis xyz="0 0 0" />
        </joint>

        <link name="chair">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="4" />
                <xacro:box_inertia mass="4" x="0.1" y="0.1" z="0.9" />
            </inertial>
            <visual>
                <origin xyz="-0.075 -.075 -0.45" rpy="1.57 0 1.57" />
                <geometry>
                    <mesh filename="package://kortex_description/arms/gen3/${dof}dof/meshes/parametric_chair.STL" />
                </geometry>
                <material name="grey">
                    <color rgba="0.75 0.75 0.75 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.1 0.1 0.9"/>
                </geometry>
            </collision>
        </link>

        <joint name="chair_joint" type="fixed">
            <origin xyz="-0.15 0 0.445" rpy="0 0 0" />
            <parent link="base_plate" />
            <child link="chair" />
            <axis xyz="0 0 0" />
        </joint>
    </xacro:macro>
</robot>