<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot name="gen3_lite_gen3_lite_2f" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="prefix" default="" />
    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="arm">
        <joint name="$(arg prefix)joint_1" />
        <joint name="$(arg prefix)joint_2" />
        <joint name="$(arg prefix)joint_3" />
        <joint name="$(arg prefix)joint_4" />
        <joint name="$(arg prefix)joint_5" />
        <joint name="$(arg prefix)joint_6" />
        <joint name="$(arg prefix)end_effector" />
        <joint name="$(arg prefix)tool_frame_joint" />
    </group>
    <group name="gripper">
        <link name="$(arg prefix)gripper_base_link" />
        <link name="$(arg prefix)left_finger_prox_link" />
        <link name="$(arg prefix)left_finger_dist_link" />
        <link name="$(arg prefix)right_finger_prox_link" />
        <link name="$(arg prefix)right_finger_dist_link" />
    </group>
    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
    <group_state name="home" group="arm">
        <joint name="$(arg prefix)joint_1" value="0" />
        <joint name="$(arg prefix)joint_2" value="-0.28" />
        <joint name="$(arg prefix)joint_3" value="1.309" />
        <joint name="$(arg prefix)joint_4" value="0" />
        <joint name="$(arg prefix)joint_5" value="-1.047" />
        <joint name="$(arg prefix)joint_6" value="0" />
    </group_state>
    <group_state name="retract" group="arm">
        <joint name="$(arg prefix)joint_1" value="-0.0522" />
        <joint name="$(arg prefix)joint_2" value="0.3664" />
        <joint name="$(arg prefix)joint_3" value="2.53" />
        <joint name="$(arg prefix)joint_4" value="-1.536" />
        <joint name="$(arg prefix)joint_5" value="-0.6981" />
        <joint name="$(arg prefix)joint_6" value="-1.5184" />
    </group_state>
    <group_state name="vertical" group="arm">
        <joint name="$(arg prefix)joint_1" value="0" />
        <joint name="$(arg prefix)joint_2" value="0" />
        <joint name="$(arg prefix)joint_3" value="0" />
        <joint name="$(arg prefix)joint_4" value="0" />
        <joint name="$(arg prefix)joint_5" value="0" />
        <joint name="$(arg prefix)joint_6" value="0" />
    </group_state>
    <group_state name="opened" group="gripper">
        <joint name="$(arg prefix)left_finger_bottom_joint" value="0" />
        <joint name="$(arg prefix)left_finger_tip_joint" value="0" />
        <joint name="$(arg prefix)right_finger_bottom_joint" value="0.96" />
        <joint name="$(arg prefix)right_finger_tip_joint" value="0" />
    </group_state>
    <group_state name="closed" group="gripper">
        <joint name="$(arg prefix)left_finger_bottom_joint" value="0" />
        <joint name="$(arg prefix)left_finger_tip_joint" value="0" />
        <joint name="$(arg prefix)right_finger_bottom_joint" value="-0.09" />
        <joint name="$(arg prefix)right_finger_tip_joint" value="0" />
    </group_state>
    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <end_effector name="end_effector" parent_link="$(arg prefix)tool_frame" group="arm" />
    <!--PASSIVE JOINT: Purpose: this element is used to mark joints that are not actuated-->
    <passive_joint name="$(arg prefix)right_finger_tip_joint" />
    <passive_joint name="$(arg prefix)left_finger_tip_joint" />
    <passive_joint name="$(arg prefix)left_finger_bottom_joint" />
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="$(arg prefix)arm_link" link2="$(arg prefix)base_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)arm_link" link2="$(arg prefix)forearm_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)arm_link" link2="$(arg prefix)lower_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)arm_link" link2="$(arg prefix)shoulder_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)base_link" link2="$(arg prefix)shoulder_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)gripper_base_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)left_finger_dist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)left_finger_prox_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)lower_wrist_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)right_finger_dist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)right_finger_prox_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)shoulder_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)upper_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)gripper_base_link" link2="$(arg prefix)left_finger_dist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)gripper_base_link" link2="$(arg prefix)left_finger_prox_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)gripper_base_link" link2="$(arg prefix)lower_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)gripper_base_link" link2="$(arg prefix)right_finger_dist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)gripper_base_link" link2="$(arg prefix)right_finger_prox_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)gripper_base_link" link2="$(arg prefix)upper_wrist_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)left_finger_dist_link" link2="$(arg prefix)left_finger_prox_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)left_finger_dist_link" link2="$(arg prefix)lower_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)left_finger_dist_link" link2="$(arg prefix)right_finger_dist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)left_finger_dist_link" link2="$(arg prefix)right_finger_prox_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)left_finger_dist_link" link2="$(arg prefix)upper_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)left_finger_prox_link" link2="$(arg prefix)lower_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)left_finger_prox_link" link2="$(arg prefix)right_finger_dist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)left_finger_prox_link" link2="$(arg prefix)right_finger_prox_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)left_finger_prox_link" link2="$(arg prefix)upper_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)lower_wrist_link" link2="$(arg prefix)right_finger_dist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)lower_wrist_link" link2="$(arg prefix)right_finger_prox_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)lower_wrist_link" link2="$(arg prefix)upper_wrist_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)right_finger_dist_link" link2="$(arg prefix)right_finger_prox_link" reason="Adjacent" />
    <disable_collisions link1="$(arg prefix)right_finger_dist_link" link2="$(arg prefix)upper_wrist_link" reason="Never" />
    <disable_collisions link1="$(arg prefix)right_finger_prox_link" link2="$(arg prefix)upper_wrist_link" reason="Never" />
</robot>
