<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename= "$(find kortex_scripts)/robot_equipment/urdf/macros.xacro"/>
    <xacro:include filename= "$(find kortex_scripts)/robot_equipment/urdf/properties.xacro"/>
    <xacro:include filename= "$(find kortex_scripts)/robot_equipment/urdf/worker_simple.xacro"/>

    <xacro:macro name="chair">
        <xacro:worker_simple/>

        <joint name="chair-base_joint" type="fixed">
            <origin xyz="0.16 0 -0.44" rpy="0 0 0" />
            <parent link="chair_link" />
            <child link="base_link" />
            <axis xyz="0 0 0" />
        </joint>

        <link name="chair_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="4" />
                <xacro:box_inertia mass="4" x="0.1" y="0.1" z="0.9" />
            </inertial>
            <visual>
                <origin xyz="-0.075 -.075 -0.45" rpy="1.57 0 1.57" />
                <geometry>
                    <mesh filename="package://kortex_scripts/robot_equipment/meshes/parametric_chair.STL" />
                </geometry>
                <material name="grey">
                    <color rgba="0.75 0.75 0.75 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.1 0.1 0.9"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>
</robot>